<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Symfony Project{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    {% block stylesheets %}
    <style>
        body {
            background: #FDFDFD;
            font-family: 'Fjalla One', serif;
            font-weight: normal;
        }
       .bottom-navbar {
    position: fixed;
    bottom: 20px;
    left: 120px;
    width: 80%;
    background: rgba(255, 255, 255, 0.20); 
    backdrop-filter: blur(20px); 
    border-top: 1px solid #ddd; 
    box-shadow: 0 -2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    border-radius: 20px; 
    z-index: 1000; 
    margin-top: 80px; 
}
        .navbar {
            display:; 
        }
        .logo {
            display:none; 
            
        }

        .footer {
            display:block; 
        }

        .bottom-navbar a {
            text-decoration: none;
            color: #333;
            font-size: 17px;
            text-align: center;
        }

        p {
            font-family: 'Pinyon Script', cursive;
        }

        h1 {
            font-family: 'Fjalla One', serif;
            font-weight: normal;
        }

        .text {
            font-family: "Poiret One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .pinyon-script-regular {
            font-family: "Pinyon Script", cursive;
            font-weight: 400;
            font-style: normal;
        }

        .navbar {
            font-size: 20px;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            z-index: 20; 
            position: relative; 
              border: none;
            background:#FDFDFD !important;
        }

        .navbar a img {
            max-height: 200px; 
            height: auto;
        }

        .navbar-toggler {
            border: none;
            color: black;
        }

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #282828; 
            color: white; 
            margin-top: 50px;
        }

        .footer-text {
            flex-grow: 1;
            text-align: center;
            color: white; 
        }

        .footer img {
            width: 250px;
            height: auto; 
        }

        .social-icons {
            display: flex;
            gap: 25px; 
            color:white;
        }

        .social-icons a {
            color: white; 
            font-size: 34px; 
            text-decoration: none; 
        }

        .bottom-navbar {
            display: none; 
        }

      
        .fade-in {
            opacity: 0;
            animation: fadeIn 0.5s forwards; 
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

    
     .container {
    padding-bottom: 100px; 
}

.bottom-navbar {
    display: none; 
}

@media (max-width: 768px) {
    .bottom-navbar {
        display: flex;
        position: fixed; 
        bottom: 20px; 
        left: 30px; 
        width: 80%; 
        background: rgba(255, 255, 255, 0.20); 
        backdrop-filter: blur(20px); 
        border-top: 1px solid #ddd; 
        box-shadow: 0 -2px 5px rgba(0.2, 0.2, 0.2, 0.2); 
        justify-content: space-around; 
        align-items: center;
        padding: 15px 0; 
        border-radius: 20px; 
        z-index: 50;
    }

    .navbar {
        display: none; 
    }

    .footer {
        display: none; 
    }

    .logo {
        display: block; 
        z-index: 0; 
        margin-bottom: 5px; 
    }

    .bottom-navbar a {
        text-decoration: none; 
        color: #333; 
        font-size: 17px; 
        text-align: center; 
    }
}

@media (max-width: 576px) {
    .bottom-navbar {
        width: 90%;
        left: 5%; 
        bottom: 15px; 
        padding: 10px 0;
        margin-top: 100px; 
    }

    .bottom-navbar a {
        font-size: 15px; 
    }
}

@media (max-width: 375px) {
    .bottom-navbar {
        width: 90%; 
        left: 5%; 
        bottom: 15px; 
        padding: 10px 0; 
        margin-top: 100px; 
    }

    .bottom-navbar a {
        font-size: 15px; 
    }
}

    </style>
    {% endblock %}
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{{ path('app_portfolio') }}">
            <img src="{{ asset('images/2.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"> 
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_apropos') }}">A PROPOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='logo'>
        <a href="{{ path('app_portfolio') }}">
            <img src="{{ asset('images/2.png') }}" alt="Logo" style="width: 200px; height: auto;">
        </a>
    </div>

    <div class="container fade-in">
        {% block body %}{% endblock %}
    </div>
     <footer class="footer">
        <div class="footer-text">
            &copy; 2024 VALERIA BEREK. Tous droits réservés.
        </div>
        <div class="social-icons" style="color:white;">
            <a href="https://www.linkedin.com/in/your-profile" target="_blank" title="LinkedIn">
                <i class="fab fa-linkedin"style="color:white;"></i>
            </a>
            <a href="https://github.com/your-profile" target="_blank" title="GitHub">
                <i class="fab fa-github"style="color:white;"></i>
            </a>
        </div>
        <img src="{{ asset('images/3.png') }}" alt="Image du Projet 4">
    </footer>

  
    <nav class="bottom-navbar">
        <a href="{{ path('app_portfolio') }}">HOME</a>
        <a href="{{ path('app_apropos') }}">A PROPOS</a>
        <a href="{{ path('app_contact') }}">CONTACT</a>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    {% block javascripts %}{% endblock %}
</body>
</html>
